@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

.enroll-warning {
    color: #721c24;
    height: 50px;
    background-color: #f8d7da;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    font-family: sans-serif;
    display: flex;
    margin-bottom: 20px;
}

.promo-modal {
    max-width: 500px;
    padding: 30px;
    border: 1px solid silver;
    border-radius: 10px;
    background-color: white;
    position: relative;
    z-index: 11;
    margin-inline: 20px;
    font-size: 0.8rem;
}

.enroll-success {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.enroll-success p {
    margin-top: 20px;
    text-transform: uppercase;
    color: #4F4F4F;
    font-style: italic;
}


.hidden {
    display: none !important;
}


.promo-modal-container {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    width: 100vw;
    top: 0;
    right: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(50, 54, 50, 0.205);
    z-index: 10;

}

.promo-modal-close-button {
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: -30px;
    right: -25px;
    color: #808082;
    border: 0;
    background-color: transparent;
    transition: opacity 0.4s ease;
}

.promo-modal-close-button:hover {
    opacity: 0.5;
}

.promo-modal-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px
}


.promo-modal-heading h1 {
    text-transform: uppercase;
    font-style: italic;
    font-size: 1rem;
    color: #4F4F4F;
    margin-bottom: 44px;
}

.promo-modal-heading p {
    font-size: 0.7rem;
    color: #4F4F4F;
}

.promo-modal-form {
    display: flex;
    flex-direction: column;
}

.promo-modal-warning {
    color: rgba(129, 133, 129, 0.7);
    font-size: 0.4rem;
    margin-bottom: 20px;
}

.promo-modal-input {
    border: 1px solid #818581;
    border-radius: 60px;
    padding: 15px;
    color: #4F4F4F;
    margin-bottom: 20px;
}

.promo-modal-input:focus {
    outline: none;
}

.promo-modal-form-btn {
    background: #80DA62;
    border-radius: 50px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    padding-block: 15px;
    filter: drop-shadow(0px 6px 1px #4F4F4F);
}

@media (max-width: 500px) {
    .promo-modal-form-container {
        grid-template-columns: 1fr;
        gap: 20px
    }

    .promo-modal-close-button {
        top: 3px;
        right: 5px;
    }
}