@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
.hide-body-scroll {
    overflow: hidden;
    padding-right: 14px;
}

.enroll-warning {
    color: #721c24;
    height: 50px;
    background-color: #f8d7da;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    font-family: sans-serif;
    display: flex;
    margin-bottom: 20px;
}

.promo-modal {
    max-width: 700px;
    width: calc(400px + (1500 - 250) * ((100vw - 500px) / (1920 - 500)));
    padding: 30px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    z-index: 11;
    margin-inline: 20px;
    font-size: 0.8rem;
    overflow: hidden;
    box-shadow: 0px 0px 78px 23px rgba(255, 255, 255, 0.4);
}

.promo-modal-bg-pic {
    position: absolute;
    width: 400px;
    left: -50px;
    bottom: -100px;
    z-index: -1;
}

.enroll-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.hidden {
    display: none !important;
}

.promo-modal-green-text {
    color: #197107;
}

.promo-modal-container {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    width: 100vw;
    top: 0;
    right: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(50, 54, 50, 0.205);
    z-index: 10;
    text-align: center;
}

.close-btn-position {
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 7px;
    color: #808082;
    border: 0;
    background-color: transparent;
    transition: opacity 0.4s ease;
}

.close-btn-position:hover {
    opacity: 0.5;
}

.promo-modal-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

.promo-modal-warning {
    color: rgba(129, 133, 129, 0.7);
    font-size: 0.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.promo-modal-input {
    border: 1px solid #818581;
    border-radius: 8px;
    padding: 15px;
    color: #4F4F4F;

}

.promo-modal-input:focus {
    outline: none;
}

.orange-close-btn {
    width: 260px;
}

.promo-modal-form-btn,
.orange-close-btn {
    background: #429531;
    border-radius: 8px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    padding-block: 15px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.promo-modal-form-btn:hover,
.orange-close-btn:hover {
    background-color: #ffc219;
    color: #000;
}

@media (max-width: 700px) {
    .promo-modal-form {
        grid-template-columns: 1fr;
        gap: 20px
    }

    .promo-modal-bg-pic {
        display: none;
    }

    .promo-modal {
        max-width: 500px;
    }
}

@media (max-width: 500px) {
    .promo-modal-form-btn,
    .orange-close-btn {
        width: 100%;
    }
}