@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.enroll-warning {
    color: #721c24;
    height: 50px;
    background-color: #f8d7da;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    font-family: sans-serif;
    display: flex;
    margin-bottom: 20px;
}

.promo-modal {
    max-width: 500px;
    padding-inline: 30px;
    padding-bottom: 30px;
    border-radius: 12px;
    width: calc(500px + (1500 - 250) * ((100vw - 500px) / (1920 - 500)));
    background-color: white;
    position: relative;
    z-index: 11;
    margin-inline: 20px;
    font-size: 0.8rem;
    text-align: center;
}

.enroll-success {
    height: 300px;
}

.promo-modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px 30px 20px 30px;
    background-color: #f09e38;
    color: #fff;
    margin-inline: -30px;
    border-radius: 12PX;
    clip-path: ellipse(371px 100px at 43.20% 1.11%);
    text-shadow: 0px 4px 4px #CC6D01;
}

.promo-modal-header h3 {
    margin-bottom: 12px;
}

.promo-modal-header p {
    font-weight: 400; 
    font-size: 0.7rem;
    width: 70%;
    margin-top: 0;
}


.hidden {
    display: none !important;
}

.promo-modal-container {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    width: 100vw;
    top: 0;
    right: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(50, 54, 50, 0.205);
    z-index: 10;

}

.promo-modal-close-button {
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: -30px;
    right: -25px;
    color: #808082;
    border: 0;
    background-color: transparent;
    transition: opacity 0.4s ease;
}

.promo-modal-form-container p {
    margin-bottom: 20px;
}

.promo-modal-close-button:hover {
    opacity: 0.5;
}

.promo-modal-form {
    display: flex;
    flex-direction: column;
}

.promo-modal-warning {
    color: rgba(129, 133, 129, 0.7);
    font-size: 0.6rem;
    text-align: center;
    margin-top: 20px;
}

.promo-modal-input {
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px; 
    width: 70%;
    margin-inline: auto;
}

.promo-modal-input:focus {
    outline: none;
}

.promo-modal-form-btn {
    background: #8DE45F;
    border-radius: 10px;
    color: #fff;
    box-shadow: 6px 6px 0px #3E8127;
    border: 0;
    width: 250px;
    margin-inline: auto;
    font-weight: 600;
    text-transform: uppercase;
    padding-block: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.promo-modal-form-btn:hover {
    box-shadow: 3px -2px 0 0 #18830e, 5px 5px 12px #2fca1f;
}

.promo-modal-form-btn:active {
    box-shadow: none;
}


@media (max-width: 500px) {

    .promo-modal-form-btn {
        width: 100%;
    }

    .promo-modal-input {
        width: 90%;
    }

    .promo-modal-header p {
        width: 100%;
    }


    .promo-modal-close-button {
        top: 3px;
        right: 5px;
    }
}

@media (max-width: 400px) {
    .promo-modal-header h3 {
        margin-top: 0;
    }

}