@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;400;700&display=swap');

.enroll-warning {
    color: #721c24;
    height: 50px;
    background-color: #f8d7da;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    font-family: sans-serif;
    display: flex;
    margin-bottom: 20px;
}

.promo-modal {
    max-width: 500px;
    padding: 30px;
    width: calc(400px + (1500 - 250) * ((100vw - 500px) / (1920 - 500)));
    background-color: white;
    position: relative;
    z-index: 11;
    margin-inline: 20px;
    font-size: 0.8rem;
    border-radius: 8px;
}

.enroll-success {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.enroll-success h3 {
    text-transform: uppercase;
    font-style: italic;
}

.enroll-success p,
.promo-modal-form-container p {
    font-weight: 400;
}

.promo-modal-form-container h3,
.promo-modal-form-container p,
.promo-modal-input::placeholder {
    font-style: italic;
}


.hidden {
    display: none !important;
}



.promo-modal-container {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    width: 100vw;
    top: 0;
    right: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(50, 54, 50, 0.205);
    z-index: 10;

}

.promo-modal-close-button {
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: -30px;
    right: -25px;
    color: #808082;
    border: 0;
    background-color: transparent;
    transition: opacity 0.4s ease;
}

.promo-modal-close-button:hover {
    opacity: 0.5;
}



.promo-modal-form {
    display: flex;
    flex-direction: column;
}

.promo-modal-warning {
    color: rgba(129, 133, 129, 0.7);
    font-size: 0.6rem;
    
    text-align: center;
    margin-top: 20px;
}

.promo-modal-input {
    box-shadow: inset 0px 0px 4px #C4C4C4;
    border-radius: 4px;
    border: 0;
    padding: 15px;
    color: #4F4F4F;
    margin-bottom: 20px;
}

.promo-modal-input:focus {
    outline: none;
}

.promo-modal-form-btn {
    background: #FADF4B;
    border-radius: 4px;
    border: 0;
    width: 250px;
    margin-inline: auto;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    padding-block: 15px;
    cursor: pointer;
    box-shadow: inset 0px -5px 0px #F19A37;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
}

.promo-modal-form-btn:hover {
    background-color: #ffc800;
}

.promo-modal-form-btn:active {
    transform: translateY(2px);
    box-shadow: none;
}

@media (max-width: 500px) {

    .promo-modal-form-btn {
        width: 100%;
    }

    .promo-modal-close-button {
        top: 3px;
        right: 5px;
    }
}